footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.5rem;
  background-color: aliceblue;
}
.footer-logo {
  width: 300px;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  padding: 1rem;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.footer-nav > h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.footer-nav > ul {
  display: flex;
  margin-top: 0;
  padding-left: 0;
  flex-direction: column;
  list-style: none;
}

.footer-nav > ul > li {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.footer-nav > ul > li > a {
  text-decoration: none;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer-contact > h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
}
.footer-contact > span {
  padding-top: 0.5rem;
  font-size: 1rem;
}

.footer-social {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer-social > h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.footer-social > span {
  padding-top: 0.5rem;
  font-size: 1rem;
}
