.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 222, 222);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.navbar-logo {
  width: 300px;
  cursor: pointer;
  padding: 1rem;
}
