.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

.menu__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu__heading > h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
}

.menu__heading > button {
  width: fit-content;
  padding: 1rem;
  height: 50px;
  border: none;
  background-color: brown;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.menu__heading > button:hover {
  background-color: rgb(170, 7, 7);
}
.menu__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__control {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  padding: 10px;
  background-color: rgb(22, 109, 109);
  color: #fff;
}

.menu__body {
  display: flex;
  width: 100%;
  height: 600px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth; /* this will enable smooth scrolling */
  scroll-snap-type: x mandatory; /* this will snap the cards to the horizontal scrolling axis */
  -webkit-overflow-scrolling: touch; /* this will enable smooth scrolling on iOS devices */
}

.menu__body > * {
  flex: 0 0 auto; /* this will prevent the cards from shrinking or growing */
  width: 70%; /* adjust this value to fit your design */
  margin-right: 2%; /* adjust this value to fit your design */
  scroll-snap-align: center; /* this will align the cards to the center of the scrolling axis */
}
.menu__body::-webkit-scrollbar {
  display: none;
}
