.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #395b64;
  padding: 1rem;
}

.testimonial > h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

.testimonial__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.testimonial__control {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  margin-right: 14px;
  margin-left: 14px;
  padding: 10px;
  background-color: rgb(144, 151, 151);
  color: black;
  cursor: pointer;
}
.testimonial__control:hover {
  background-color: #fff;
  color: black;
}

.testimonial__body {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth; /* this will enable smooth scrolling */
  scroll-snap-type: x mandatory; /* this will snap the cards to the horizontal scrolling axis */
  -webkit-overflow-scrolling: touch; /* this will enable smooth scrolling on iOS devices */
}

.testimonial__body > * {
  flex: 0 0 auto; /* this will prevent the cards from shrinking or growing */
  width: 70%; /* adjust this value to fit your design */
  margin-right: 2%; /* adjust this value to fit your design */
  scroll-snap-align: center; /* this will align the cards to the center of the scrolling axis */
}

.testimonial__body::-webkit-scrollbar {
  display: none;
}
